name: Test Automation DKM

on:
  push:
    branches:
      - main
      - dev
      - migrate-test-automation
    # paths:
    #   - 'DKM/**'
  schedule:
      - cron: '0 13 * * *'  # Runs at 1 PM UTC
  workflow_dispatch:

env:
    # url: ${{ vars.DKM_URL }}
    url: "https://kmgs6012.eastus2.cloudapp.azure.com/"
    accelerator_name: "DKM"

jobs:
  test:
    # permissions:
    #   id-token: write
    #   contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}

      - name: Start AKS
        id: start-aks
        uses: azure/cli@v2
        with:
          azcliversion: 'latest'
          inlineScript: |
            az aks install-cli
            # if [ "$(az aks show --resource-group ${{ vars.DKM_RG }} --name ${{ vars.DKM_AKS_NAME }} --query "powerState.code" -o tsv)" = "Running" ]; then echo "AKS is running"; else az aks start --resource-group ${{ vars.DKM_RG }} --name ${{ vars.DKM_AKS_NAME }}; fi
            if [ "$(az aks show --resource-group rg-kmgseizkz --name aks-kmgseizkz --query "powerState.code" -o tsv)" = "Running" ]; then echo "AKS is running"; else az aks start --resource-group rg-kmgseizkz --name aks-kmgseizkz; fi

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r TestAutomation/requirements.txt

      - name: Ensure browsers are installed
        run: python -m playwright install --with-deps chromium

      - name: Run tests(1)
        id: test1
        run: |
          xvfb-run pytest --headed --html=report/report.html --self-contained-html
        working-directory: TestAutomation
        continue-on-error: true

      - name: Sleep for 30 seconds
        if: ${{ steps.test1.outcome == 'failure' }}
        run: sleep 30s
        shell: bash

      - name: Run tests(2)
        id: test2
        if: ${{ steps.test1.outcome == 'failure' }}
        run: |
          xvfb-run pytest --headed --html=report/report.html --self-contained-html
        working-directory: TestAutomation
        continue-on-error: true

      - name: Sleep for 60 seconds
        if: ${{ steps.test2.outcome == 'failure' }}
        run: sleep 60s
        shell: bash

      - name: Run tests(3)
        id: test3
        if: ${{ steps.test2.outcome == 'failure' }}
        run: |
          xvfb-run pytest --headed --html=report/report.html --self-contained-html
        working-directory: TestAutomation

      - name: Upload test report
        id: upload_report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: test-report
          path: TestAutomation/report/*

      - name: Send Notification
        if: always()
        run: |
          RUN_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          REPORT_URL=${{ steps.upload_report.outputs.artifact-url }}
          IS_SUCCESS=${{ steps.test1.outcome == 'success' || steps.test2.outcome == 'success' || steps.test3.outcome == 'success' }}
          # Construct the email body
          if [ "$IS_SUCCESS" = "true" ]; then
            EMAIL_BODY=$(cat <<EOF
            {
              "body": "<p>Dear Team,</p><p>We would like to inform you that the ${{ env.accelerator_name }} Test Automation process has completed successfully.</p><p><strong>Run URL:</strong> ${RUN_URL}<br> ${OUTPUT}</p><p><strong>Test Report:</strong> ${REPORT_URL}</p><p>Best regards,<br>Your Automation Team</p>",
              "subject": "${{ env.accelerator_name }} Test Automation - Success"
            }
          EOF
            )
          else
            EMAIL_BODY=$(cat <<EOF
            {
              "body": "<p>Dear Team,</p><p>We would like to inform you that the ${{ env.accelerator_name }} Test Automation process  has encountered an issue and has failed to complete successfully.</p><p><strong>Run URL:</strong> ${RUN_URL}<br> ${OUTPUT}</p><p><strong>Test Report:</strong> ${REPORT_URL}</p><p>Please investigate the matter at your earliest convenience.</p><p>Best regards,<br>Your Automation Team</p>",
              "subject": "${{ env.accelerator_name }} Test Automation - Failure"
            }
          EOF
            )
          fi

          # Send the notification
          curl -X POST "${{ secrets.EMAILNOTIFICATION_LOGICAPP_URL }}" \
            -H "Content-Type: application/json" \
            -d "$EMAIL_BODY" || echo "Failed to send notification"

      - name: Stop AKS
        if: always()
        uses: azure/cli@v2
        with:
          azcliversion: 'latest'
          inlineScript: |
            az aks install-cli
            # if [ "$(az aks show --resource-group ${{ vars.DKM_RG }} --name ${{ vars.DKM_AKS_NAME }} --query "powerState.code" -o tsv)" = "Running" ]; then az aks stop --resource-group ${{ vars.DKM_RG }} --name ${{ vars.DKM_AKS_NAME }}; else echo "AKS is already stopped"; fi
            if [ "$(az aks show --resource-group rg-kmgseizkz --name aks-kmgseizkz --query "powerState.code" -o tsv)" = "Running" ]; then az aks stop --resource-group rg-kmgseizkz --name aks-kmgseizkz; else echo "AKS is already stopped"; fi
            az logout